:root {
  --secondcolor: #041738;
  --secondcolor-claro: #0a3580;
  --maincolor: #dbe0e6;
  --maincolor-escuro: #274985;
  --accent: #661030;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--maincolor);
  color: var(--secondcolor);
}